.DS_Store

.env
.env.*
!.env.example

.git/
.github/
.gitignore

.idea/
.pytest_cache/
.ruff_cache/
.uv-cache/
.venv/
__pycache__/
**/__pycache__/
*.py[cod]

.coverage
htmlcov/

data/
notebooks/
__marimo__/
OIDC_PROX/
