# Variables used by config.py
VALKEY_HOST=localhost
# Default port, can be excluded
VALKEY_PORT=6379
# Generate with python -c "import secrets; print(secrets.token_urlsafe(32))"
VALKEY_PASSWORD="long-password"
AAF_METADATA_URL="https://md.test.aaf.edu.au/aaf-test-metadata.xml"
AAF_PUBKEY_URL="https://md.test.aaf.edu.au/aaf-metadata-certificate.pem"
AAF_AUTHORIZE_URL="https://central.test.aaf.edu.au/oidc/authorize"
